@charset "utf-8";
/* CSS Document */

/*Global vars*/

:root {
	--background-body-color: #F5F5F5;
	--background-color: #996B60;
	--title: #1C2752;
	--title-1: #FFFFFF;
	--par-color: #FFFFFF;
	--par-color-two: #1C2752;
	--par-color-three: #D2D2D2;
	--text-color: #7E7E7E;
	--text-color-two: #FFB342;
	--link-color: #222222;
	--button-background: #FFFFFF;
	--button-bacground-color: #1C2752;
	--button-text-color-3: #222222;
	--button-text-color: #FFFFFF;
	--button-text-color-2: #1C2752;
	--background-color-two: #FFB342;
	--background-color-div: #F4F4F4;
	--background-color-div-two: #1C2752;
}

/*body*/

.body {
	color: var(--text-color);
	background: var(--background-body-color);
	
	border-radius: 0px;
	padding: 0px;
	margin: 0px;
}

.ul {
	display: flex;
	
	list-style-type: none;
}

.li {
	display: inline;
}

/*section logo*/

.logo {
	position: relative;
	
	width: 1440px;
	height: 158px;
	
	margin-top: 0px;
	margin-left: 0px;
}

.logo-picter {
	width: 250px;
	
	margin-top: 40px;
	margin-left: 120px;
}

.link-par {
	position: absolute;
	
	width: 72px;
	height: 26px;
	
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
	letter-spacing: 0.36px;
	
	color: var(--title);
	
	margin-top: 37px;
	margin-left: 468.75px;
	
}

.link-par-1 {
	position: absolute;
	
	width: 169px;
	height: 27px;
	
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 27px;
	letter-spacing: 0.36px;
	
	color: var(--text-color);
	
	margin-top: 64px;
	margin-left: 468.75px;
	
}

.link-par-2 {
	position: absolute;
	
	width: 80px;
	height: 26px;
	
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
	letter-spacing: 0.36px;
	
	color: var(--title);
	
	margin-top: 37px;
	margin-left: 791.59px;
	
}

.link-par-3 {
	position: absolute;
	
	width: 151px;
	height: 27px;
	
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 27px;
	letter-spacing: 0.36px;
	
	color: var(--text-color);
	
	margin-top: 64px;
	margin-left: 791.59px;
	
}

/*section nav*/

.section-nav {
	position: absolute;
	
	width: 1200px;
	height: 78px;
	
	background: var(--background-color-two);
	
	top: 128px;
	left: 120px;
}

.link-nav {
	width: 57px;
	height: 30px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.36px;
	text-decoration: none;
	
	color: var(--link-color);
	
	margin-top: 29px;
	margin-left: 45px;
}

.link-nav-1 {
	width: 90px;
	height: 30px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 19px;
	line-height: 30px;
	letter-spacing: 0.36px;
	text-decoration: none;
	
	color: var(--link-color);
	
	margin-top: 29px;
	margin-left: 49px;
}

.link-nav-2 {
	width: 62px;
	height: 30px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.36px;
	text-decoration: none;
	
	color: var(--link-color);
	
	margin-top: 29px;
	margin-left: 55px;
}

.link-nav-3 {
	width: 44px;
	height: 30px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.36px;
	text-decoration: none;
	
	color: var(--link-color);
	
	margin-top: 29px;
	margin-left: 75px;
}

.link-nav-4 {
	width: 111px;
	height: 30px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.36px;
	text-decoration: none;
	
	color: var(--link-color);
	
	margin-top: 29px;
	margin-left: 51px;
}

.button-nav {
	width: 298px;
	height: 68px;
	
	background: var(--button-bacground-color);
	color: var(--button-text-color);
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.36px;
	
	margin-top: -10px;
	margin-left: 268.78px;	
}

/*section head*/

.head {
	position: relative;
	
	width: 1440px;
	height: 813px;
}

.head-div {
	position: absolute;
	
	top: 260px;
	left: 120px;
}

.head-par {
	position: absolute;
	
	width: 662px;
	height: 29px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0.36px;
	text-transform: capitalize;
	
	color: var(--par-color);
	
	top: 10px;
	left: 60px;
}

.head-title {
	position: absolute;
	
	width: 712px;
	height: 156px;
	
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-size: 60px;
	line-height: 78px;
	letter-spacing: 1.2px;
	text-transform: capitalize;
	
	color: var(--title-1);
	
	top: 31px;
	left: 0px;
}

.head-button {
	position: absolute;
	
	width: 227px;
	height: 68px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.36px;
	
	color: var(--button-text-color-2);
	background: var(--background-color-two);
	
	top: 260px;
	left: 0px;
}

/*section welcome*/

.welcome {
	position: relative;
	
	width: 1200px;
	height: 581.38px;
	
	margin-top: 139.98px;
	margin-left: 120px;
	
}

.welcome-foto {
	position: absolute;
	
	top: 0.02px;
	left: 0px;
}

.welcome-div {
	position: relative;
	
	width: 249px;
	height: 27px;
	
	background: var(--background-color-div);
	
	top: 21.02px;
	left: 631px;
}

.welcome-par {
	position: absolute;
	
	width: 176px;
	height: 27px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0/36px;
	
	color: var(--title);
	
	top: -19px;
	left: 53px;
}

.welcome-title {
	position: absolute;
	
	width: 536px;
	height: 59px;
	
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-size: 45px;
	line-height: 59.5px;
	letter-spacing: 0.36px;
	
	color: var(--title);
	
	top: 22px;
	left: 631px;
}

.welcome-par-1 {
	position: absolute;
	
	width: 552px;
	height: 81px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0.36px;
	
	color: var(--text-color);
	
	top: 121.02px;
	left: 631px;
}

.welcome-par-2 {
	position: absolute;
	
	width: 571px;
	height: 81px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0.36px;
	
	color: var(--text-color);
	
	top: 212.02px;
	left: 631px;
}

.welcome-div-1 {
	position: relative;
	
	width: 198px;
	height: 220px;
	
	background: var(--background-color-div);
	
	top: 320.02px;
	left: 631px;
}

.welcome-par-3 {
	position: absolute;
	
	width: 97px;
	height: 88px;
	
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-size: 80px;
	line-height: 88px;
	letter-spacing: 0.36px;
	text-align: center;
	
	color: var(--text-color-two);
	
	top: -70px;
	left: 50px;
}

.welcome-par-4 {
	position: absolute;
	
	width: 112px;
	height: 52px;
	
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
	letter-spacing: 0.36px;
	text-align: center;
	
	color: var(--par-color-two);
	
	top: 98px;
	left: 50px;
}

.welcome-par-5 {
	position: absolute;
	
	width: 295px;
	height: 27px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400px;
	font-size: 17px;
	line-height: 27px;
	letter-spacing: 0.36px;
	
	color: var(--text-color);
	
	top: 346.83px;
	left: 863px;
}

.welcome-par-6 {
	position: absolute;
	
	width: 294px;
	height: 27px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400px;
	font-size: 17px;
	line-height: 27px;
	letter-spacing: 0.36px;
	
	color: var(--text-color);
	
	top: 383.83px;
	left: 863px;
}

.welcome-par-7 {
	position: absolute;
	
	width: 294px;
	height: 27px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400px;
	font-size: 17px;
	line-height: 27px;
	letter-spacing: 0.36px;
	
	color: var(--text-color);
	
	top: 420.83px;
	left: 863px;
}

.welcome-par-8 {
	position: absolute;
	
	width: 307px;
	height: 27px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400px;
	font-size: 17px;
	line-height: 27px;
	letter-spacing: 0.36px;
	
	color: var(--text-color);
	
	top: 457.83px;
	left: 863px;
}

.welcome-par-9 {
	position: absolute;
	
	width: 294px;
	height: 27px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400px;
	font-size: 17px;
	line-height: 27px;
	letter-spacing: 0.36px;
	
	color: var(--text-color);
	
	top: 494.83px;
	left: 863px;
}

/*section service*/

.service {
	position: relative;
	
	width: 1440px;
	height: 900px;
	
	background: var(--background-color-two);
	
	margin-top: 139.64px;
	margin-left: 0px;
}

.service-div {
	position: absolute;
	
	width: 207px;
	height: 27px;
	
	background: var(--background-color-div);
	
	top: 150px;
	left: 617px;
}

.service-div-par {
	position: absolute;
	
	width: 134px;
	height: 27px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0.36px;
	
	color: var(--title);
	
	top: -17px;
	left: 60px;
}

.service-title {
	position: absolute;
	
	width: 603px;
	height: 59px;
	
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-size: 45px;
	line-height: 58.5px;
	letter-spacing: 0.36px;
	
	color: var(--title);
	
	top: 179px;
	left: 418px;
}

.service-par {
	position: absolute;
	
	width: 832px;
	height: 54px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0.36px;
	text-align: center;
	
	color: var(--title);
	
	top: 270px;
	left: 304px;
}

.button-service {
	position: absolute;
	
	width: 249px;
	height: 48px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.36px;
	
	color: var(--button-text-color-3);
	background: var(--button-background);
	
	border: 1px solid #FFFFFF;
	
	top: 361px;
	left: 338px;
}

.button-service-1 {
	position: absolute;
	
	width: 249px;
	height: 48px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.36px;
	
	color: var(--button-text-color-3);
	background: var(--background-color-two);
	
	border: 1px solid #1C2752;
	
	top: 361px;
	left: 617px;
}

.button-service-2 {
	position: absolute;
	
	width: 249px;
	height: 48px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.36px;
	
	color: var(--button-text-color-3);
	background: var(--background-color-two);
	
	border: 1px solid #1C2752;
	
	top: 361px;
	left: 883px;
}

/*section area*/

.area {
	position: relative;
	
	width: 1440px;
	height: 1397px;
	
	background: var(--background-color-div);
	
	top: -20px;
	left: 0px;
}

.area-div {
	position: absolute;
	
	width: 213px;
	height: 27px;
	
	background: var(--button-background);
	
	top: 250px;
	left: 613px;
}

.area-div-par {
	position: absolute;
	
	width: 141px;
	height: 27px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0.36px;
	
	color: var(--button-text-color-2);
	
	top: -18px;
	left: 60px;
}

.area-title {
	position: absolute;
	
	width: 285px;
	height: 59px;
	
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-size: 45px;
	line-height: 58.5px;
	letter-spacing: 0.36px;
	text-align: center;
	
	color: var(--title);
	
	top: 289px;
	left: 577px;
}

.area-par {
	position: absolute;
	
	width: 819px;
	height: 54px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0.36px;
	text-align: center;
	
	color: var(--text-color);
	
	top: 370px;
	left: 310px;
}

.ul-div {
	position: absolute;
	
	width: 380px;
	height: 378px;
	
	background: var(--background-color-div-two);
	
	top: 471px;
	left: 120px;
}

.ul-div-1 {
	position: absolute;
	
	width: 380px;
	height: 378px;
	
	background: var(--background-color-div-two);
	
	top: 471px;
	left: 530px;
}

.ul-div-2 {
	position: absolute;
	
	width: 380px;
	height: 378px;
	
	background: var(--background-color-div-two);
	
	top: 471px;
	left: 940px;
}

.ul-div-3 {
	position: absolute;
	
	width: 380px;
	height: 378px;
	
	background: var(--background-color-div-two);
	
	top: 879px;
	left: 120px;
}

.ul-div-4 {
	position: absolute;
	
	width: 380px;
	height: 378px;
	
	background: var(--background-color-div-two);
	
	top: 879px;
	left: 530px;
}

.ul-div-5 {
	position: absolute;
	
	width: 380px;
	height: 378px;
	
	background: var(--background-color-div-two);
	
	top: 879px;
	left: 940px;
}

.area-title-1 {
	position: absolute;
	
	width: 268px;
	height: 38px;
	
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 37.5px;
	letter-spacing: 0.36px;
	
	color: var(--text-color-two);
	
	top: 118px;
	left: 35px;
}

.area-title-2 {
	position: absolute;
	
	width: 270px;
	height: 38px;
	
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 37.5px;
	letter-spacing: 0.36px;
	
	color: var(--text-color-two);
	
	top: 118px;
	left: 35px;
}

.area-title-3 {
	position: absolute;
	
	width: 197px;
	height: 38px;
	
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 37.5px;
	letter-spacing: 0.36px;
	
	color: var(--text-color-two);
	
	top: 118px;
	left: 35px;
}

.area-title-4 {
	position: absolute;
	
	width: 204px;
	height: 38px;
	
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 37.5px;
	letter-spacing: 0.36px;
	
	color: var(--text-color-two);
	
	top: 118px;
	left: 35px;
}

.area-title-5 {
	position: absolute;
	
	width: 291px;
	height: 38px;
	
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 37.5px;
	letter-spacing: 0.36px;
	
	color: var(--text-color-two);
	
	top: 118px;
	left: 35px;
}

.area-title-6 {
	position: absolute;
	
	width: 221px;
	height: 38px;
	
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 37.5px;
	letter-spacing: 0.36px;
	
	color: var(--text-color-two);
	
	top: 118px;
	left: 35px;
}

.area-par-1 {
	position: absolute;
	
	width: 299px;
	height: 108px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0.36px;
	
	color: var(--par-color-three);
	
	top: 171px;
	left: 35px;
}

.area-par-2 {
	position: absolute;
	
	width: 299px;
	height: 108px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 27px;
	letter-spacing: 0.36px;
	
	color: var(--par-color-three);
	
	top: 171px;
	left: 35px;
}

.area-par-3 {
	position: absolute;
	
	width: 299px;
	height: 108px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0.36px;
	
	color: var(--par-color-three);
	
	top: 171px;
	left: 35px;
}

.area-par-4 {
	position: absolute;
	
	width: 300px;
	height: 108px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 27px;
	letter-spacing: 0.36px;
	
	color: var(--par-color-three);
	
	top: 171px;
	left: 35px;
}

.area-par-5 {
	position: absolute;
	
	width: 310px;
	height: 108px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0.36px;
	
	color: var(--par-color-three);
	
	top: 171px;
	left: 35px;
}

.area-par-6 {
	position: absolute;
	
	width: 299px;
	height: 108px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0.36px;
	
	color: var(--par-color-three);
	
	top: 171px;
	left: 35px;
}

.link-area {
	position: absolute;
	
	
	width: 96px;
	height: 27px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0.36px;
	text-decoration: none;
	
	color: var(--par-color);
	
	margin-top: 311px;
	margin-left: 35px;
}

.link-area-1 {
	position: absolute;
	
	
	width: 96px;
	height: 27px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0.36px;
	text-decoration: none;
	
	color: var(--par-color);
	
	margin-top: 311px;
	margin-left: 35px;
}

.link-area-2 {
	position: absolute;
	
	
	width: 96px;
	height: 27px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0.36px;
	text-decoration: none;
	
	color: var(--par-color);
	
	margin-top: 311px;
	margin-left: 35px;
}

.link-area-3 {
	position: absolute;
	
	
	width: 96px;
	height: 27px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0.36px;
	text-decoration: none;
	
	color: var(--par-color);
	
	margin-top: 311px;
	margin-left: 35px;
}

.link-area-4 {
	position: absolute;
	
	
	width: 96px;
	height: 27px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0.36px;
	text-decoration: none;
	
	color: var(--par-color);
	
	margin-top: 311px;
	margin-left: 35px;
}

.link-area-5 {
	position: absolute;
	
	
	width: 96px;
	height: 27px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0.36px;
	text-decoration: none;
	
	color: var(--par-color);
	
	margin-top: 311px;
	margin-left: 35px;
}

/*section electrical*/

.electrical {
	position: absolute;
	
	width: 1160px;
	height: 528px;
	
	background: var(--button-background);
	
	top: 2450px;
	left: 140px;
}

.electrical-div {
	position: absolute;
	
	width: 259px;
	height: 28px;
	
	background: var(--background-color-div);
	
	top: 70px;
	left: 60px;
}

.electrical-div-par {
	position: absolute;
	
	width: 181px;
	height: 27px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 27px;
	letter-spacing: 0.36px;
	
	color: var(--par-color-two);
	
	top: -17px;
	left: 60px;
}

.electrical-title {
	position: absolute;
	
	width: 265px;
	height: 59px;
	
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-size: 45px;
	line-height: 58.5px;
	letter-spacing: 0.36px;
	
	color: var(--title);
	
	top: 110px;
	left: 60px;
}

.electrical-par {
	position: absolute;
	
	width: 507px;
	height: 81px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0.36px;
	
	color: var(--text-color);
	
	top: 191px;
	left: 60px;
}

.electrical-par-1 {
	position: absolute;
	
	width: 549px;
	height: 81px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0.36px;
	
	color: var(--text-color);
	
	top: 282px;
	left: 60px;
}

.button-electrical {
	position: absolute;
	
	width: 190px;
	height: 68px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.36px;
	
	color: var(--par-color-two);
	background: var(--background-color-two);
	
	top: 390px;
	left: 60px;
}

.electrical-foto {
	position: absolute;
	
	top: 82px;
	left: 684px;
}

/*section choose*/

.choose {
	position: relative;
	
	width: 1440px;
	height: 848px;
	
	top: -21px;
	left: 0px;
}

.choose-foto {
	position: absolute;
	
	top: -15px;
	left: 0px;
}

.choose-div {
	position: absolute;
	
	width: 213px;
	height: 27px;
	
	background: var(--background-color-div);
	
	top: 102.64px;
	left: 790px;
}

.choose-div-par {
	position: absolute;
	
	width: 141px;
	height: 27px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0.36px;
	
	color: var(--par-color-two);
	
	top: -19px;
	left: 60px;
}

.choose-title {
	position: absolute;
	
	width: 506px;
	height: 117px;
	
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-size: 45px;
	line-height: 58.5px;
	letter-spacing: 0.36px;
	
	color: var(--title);
	
	top: 132.64px;
	left: 790px;
}

.choose-par {
	position: absolute;
	
	width: 577px;
	height: 81px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 27px;
	letter-spacing: 0.36px;
	
	color: var(--text-color);
	
	top: 280.64px;
	left: 790px;
}

.choose-title-1 {
	position: absolute;
	
	width: 207px;
	height: 28px;
	
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 0.36px;
	
	color: var(--title);
	
	top: 388.64px;
	left: 842px;
}

.choose-title-2 {
	position: absolute;
	
	width: 223px;
	height: 28px;
	
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 0.36px;
	
	color: var(--title);
	
	top: 510.64px;
	left: 842px;
}

.choose-title-3 {
	position: absolute;
	
	width: 171px;
	height: 28px;
	
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 0.36px;
	
	color: var(--title);
	
	top: 632.64px;
	left: 842px;
}

.choose-par-1 {
	position: absolute;
	
	width: 432px;
	height: 54px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 27px;
	letter-spacing: 0.36px;
	
	color: var(--text-color);
	
	top: 435px;
	left: 842px;
}

.choose-par-2 {
	position: absolute;
	
	width: 416px;
	height: 54px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 27px;
	letter-spacing: 0.36px;
	
	color: var(--text-color);
	
	top: 556.64px;
	left: 842px;
}

.choose-par-3 {
	position: absolute;
	
	width: 444px;
	height: 54px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 27px;
	letter-spacing: 0.36px;
	
	color: var(--text-color);
	
	top: 678.64px;
	left: 842px;
}

/*section projects*/

.projects {
	position: relative;
	
	width: 1440px;
	height: 981px;
	
	background: var(--button-bacground-color);
	
	top: -52px;
	left: 0px;
}

.projects-div {
	position: absolute;
	
	width: 173px;
	height: 27px;
	
	background: var(--background-color-div);
	
	top: 150px;
	left: 634px;
}

.projects-div-par {
	position: absolute;
	
	width: 110px;
	height: 27px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0.36px;
	text-align: center;
	
	color: var(--button-text-color-2);
	

	top: -19px;
	left: 50px;
}

.projects-title {
	position: absolute;
	
	width: 449px;
	height: 59px;
	
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-size: 45px;
	line-height: 58.5px;
	letter-spacing: 0.36px;
	text-align: center;
	
	color: var(--title-1);
	
	top: 169px;
	left: 496px;
}

.projects-div-ul {
	position: absolute;
	
	width: 320px;
	height: 477px;
	
	background: var(--button-background);
	
	top: 307px;
	left: 35px;
}

.projects-div-ul-1 {
	position: absolute;
	
	width: 320px;
	height: 514px;
	
	background: var(--button-background);
	
	top: 307px;
	left: 385px;
}

.projects-div-ul-2 {
	position: absolute;
	
	width: 320px;
	height: 477px;
	
	background: var(--button-background);
	
	top: 307px;
	left: 735px;
}

.projects-div-ul-3 {
	position: absolute;
	
	width: 320px;
	height: 477px;
	
	background: var(--button-background);
	
	top: 307px;
	left: 1085px;
}

.projects-foto {
	position: absolute;
	
	top: 21px;
	left: 21px;
}

.projects-foto-1 {
	position: absolute;
	
	top: 21px;
	left: 21px;
}

.projects-foto-2 {
	position: absolute;
	
	top: 21px;
	left: 21px;
}

.projects-foto-3 {
	position: absolute;
	
	top: 21px;
	left: 21px;
}

.project-title-1 {
	position: absolute;
	
	width: 247px;
	height: 48px;
	
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 37.5px;
	letter-spacing: 0.36px;
	text-align: center;
	
	color: var(--title);
	
	top: 332px;
	left: 36px;
}

.project-title-2 {
	position: absolute;
	
	width: 221px;
	height: 75px;
	
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 37.5px;
	letter-spacing: 0.36px;
	text-align: center;
	
	color: var(--title);
	
	top: 332px;
	left: 50px;
}

.project-title-3 {
	position: absolute;
	
	width: 247px;
	height: 48px;
	
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 37.5px;
	letter-spacing: 0.36px;
	text-align: center;
	
	color: var(--title);
	
	top: 332px;
	left: 36px;
}

.project-title-4 {
	position: absolute;
	
	width: 247px;
	height: 48px;
	
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 37.5px;
	letter-spacing: 0.36px;
	text-align: center;
	
	color: var(--title);
	
	top: 332px;
	left: 36px;
}

.projects-par {
	position: absolute;
	
	width: 102px;
	height: 27px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 27px;
	letter-spacing: 0.36px;
	text-align: center;
	
	color: var(--text-color);
	
	top: 394px;
	left: 109px;
}

.projects-par-1 {
	position: absolute;
	
	width: 71px;
	height: 27px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 27px;
	letter-spacing: 0.36px;
	text-align: center;
	
	color: var(--text-color);
	
	top: 431px;
	left: 125px;
}



.projects-par-2 {
	position: absolute;
	
	width: 95px;
	height: 27px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 27px;
	letter-spacing: 0.36px;
	text-align: center;
	
	color: var(--text-color);
	
	top: 394px;
	left: 113px;
}

.projects-par-3 {
	position: absolute;
	
	width: 102px;
	height: 27px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 27px;
	letter-spacing: 0.36px;
	text-align: center;
	
	color: var(--text-color);
	
	top: 394px;
	left: 109px;
}

/*section custome*/

.customers {
	position: relative;
	
	width: 1200px;
	height: 947px;
	
	background: var(--button-background);
	
	top: 139.95px;
	left: 120px;
} 

.customers-div {
	position: absolute;
	
	width: 174px;
	height: 27px;
	
	background: var(--background-color-div);
	
	top: 10.5px;
	left: 0px;
}

.customers-par {
	position: absolute;
	
	width: 102px;
	height: 27px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0.36px;
	
	color: var(--title);
	
	top: -19px;
	left: 60px;
}

.customers-title {
	position: absolute;
	
	width: 357px;
	height: 59px;
	
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-size: 45px;
	line-height: 58.5px;
	letter-spacing: 0.36px;
	
	color: var(--title);
	
	top: 59.5px;
	left: 0px;
}

.customers-foto {
	position: absolute;
	
	top: 200.05px;
	left: 41px;
}

.customers-title-1 {
	position: absolute;
	
	width: 139px;
	height: 31px;
	
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 30.8px;
	letter-spacing: 0.36px;
	
	color: var(--title);
	
	top: 210.05px;
	left: 121px;
}

.customers-par-1 {
	position: absolute;
	
	width: 509.06px;
	height: 108px;
	
	font-family: 'Inter';
	font-style: italic;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0.36px;
	
	color: var(--text-color);
	
	top: 318.05px;
	left: 41px;		
}

.par-span {
	font-weight: 700;
	
	color: var(--title);
}

.customers-div-1 {
	position: absolute;
	
	width: 591px;
	height: 330px;
	
	background: var(--background-color-two);
	
	top: 577.05px;
	left: 0px;
}

.customers-div-2 {
	position: absolute;
	
	width: 191px;
	height: 27px;
	
	background: var(--background-color-div);
	
	top: 60px;
	left: 40px;
}

.customers-par-4 {
	position: absolute;
	
	width: 119px;
	height: 27px;
	
	font-family: 'Inter';
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0.36px;
	
	color: var(--title);
	
	top: -18px;
	left: 60px;
}

.customers-title-2 {
	position: absolute;
	
	width: 452px;
	height: 33px;
	
	font-family: 'Mulish';
	font-weight: 400;
	font-size: 25px;
	line-height: 32.5px;
	letter-spacing: 0.36px;
	
	color: var(--title);
	
	top: 108px;
	left: 40px;
}

.customers-par-2 {
	position: absolute;
	
	width: 483px;
	height: 54px;
	
	font-family: 'Inter';
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0.36px;
	
	color: var(--title);
	
	top: 154px;
	left: 40px;
}

.link-customers {
	position: absolute;
	
	width: 287px;
	height: 45px;
	
	font-family: 'Mulish';
	font-weight: 400;
	font-size: 30px;
	line-height: 45px;
	letter-spacing: 0.36px;
	text-decoration: none;
	
	color: var(--button-text-color);
	
	top: 232px;
	left: 110px;
}

.customers-div-3 {
	position: absolute;
	
	width: 146px;
	height: 27px;
	
	background: var(--background-color-div);
	
	top: 10.5px;
	left: 636px;
}

.customers-par-3 {
	position: absolute;
	
	width: 74px;
	height: 27px;
	
	font-family: 'Inter';
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0.36px;
	
	color: var(--title);
	
	top: -18px;
	left: 60px;
}

.customers-title-3 {
	position: absolute;
	
	width: 425px;
	height: 59px;
	
	font-family: 'Mulish';
	font-weight: 400;
	font-size: 45px;
	line-height: 58.5px;
	letter-spacing: 0.36px;
	
	color: var(--title);
	
	top: 59.05px;
	left: 636px;
}

.clients {
	position: relative;
	
	width: 1200px;
	height: 221px;
	
	top: 160px;
	left: 120px;
}

.clients-div {
	position: absolute;
	
	width: 134px;
	height: 27px;
	
	background: var(--background-color-div);
	
	top: 10.5px;
	left: 533px;
}

.clients-div-par {
	position: absolute;
	
	width: 62px;
	height: 27px;
	
	font-family: 'Inter';
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0.36px;
	text-align: center;
	
	color: var(--par-color-two);
	
	top: -19px;
	left: 50px;
}